
:root {
  --pcol: rgb(73, 37, 11);
  --h1col: rgb(139, 69, 19);
  --h2col: rgb(184, 134, 11);
  --bground: navajowhite;
  --border: saddlebrown;
  --navbar: var(--h2col);
}
[data-theme="dark"] {
    --pcol:  #e8c99a;
    --h1col: #c87941;
    --h2col: #e8a825; 
    --bground: #211409;
    --border: #3d2510;
    --navbar: #936a18;
}

/*Navbar*/
.navbar {
    display: flex;
    justify-content: left;
    gap: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: var(--pcol);
    background-color: var(--navbar);
}
.navbar a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: large;
}
.navbar a:hover {
    color: var(--h1col);
}
.navbar button {
    margin-left: auto;
}

/* Image stack */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.text-side {
  flex: 1;
}
.imstack {
  position: relative;
  margin-right: 120px;
  margin-top: -60px;
  width: 20%;
  height: auto;
  max-width: 338px;
}
.bug-part {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.hitbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 302px; height: 160px;
  cursor: pointer;
  pointer-events: auto;
}

/*Indent*/
.indent1{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
}
.indent2{
    margin-left: 100px;
    margin-right: 100px;
}
.indent3{
    margin-left: 120px;
    max-width: 600px;
}
.centered{
    text-align: center;
}
.right{
    text-align: right;
}

/*Colors, fonts, styles*/
body{background-color: var(--bground);}

h1{color: var(--h1col); font-size: 50px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

h2{color: var(--h2col); font-size: 24px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

p{color: var(--pcol); font-size: 18px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

table, th, td{
    border: 2px solid var(--border);
    color: var(--pcol);
    font-family: sans-serif;
}
ul{
    color: var(--pcol);
    list-style-type: square;
}
ol{
    color: var(--pcol);
    list-style-type: upper-roman;
}